


{% extends 'partial/HeaderFooter.html.twig' %}

{% block content %}

<body>
<h1> ARTICLES </h1>
    <section class="document">
        <div>
            {% for pokemon in pokemons %}
                   {% if (pokemon.isPublished) %}
                        <div class="articles">
                        <article class="article">
                            <h2 class="titre"> {{ pokemon.title }}</h2>
                            <p> {{ pokemon.content }}</p>
                        </article>
                   {% endif %}
            {% endfor %}
        </div>
    </section>
</body>

{% endblock %}


