


{% extends 'partial/HeaderFooter.html.twig' %}

{% block content %}

<body>
    <h1> ARTICLES </h1>
    <div class="document">
        {% for pokemon in pokemons %}
            {% if (pokemon.isPublished) %}
                <div class="articles">
                    <article class="article">
                        <h2 class="titre"> {{ pokemon.title }}</h2>
                        <p> {{ pokemon.content }}</p>
                    </article>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</body>

{% endblock %}


