


{% extends 'partial/HeaderFooter.html.twig' %}

{% block metatitle %}
    Pokemon : catégories
{% endblock %}

{% block content %}

<body>
    <h1> CATEGORIES </h1>
    <div class="document">
        {% for categorie in categories %}
            <div class="articles">
               <article class="article">
                   <p> {{ categorie }}</p>
                </article>
            </div>
        {% endfor %}
    </div>
</body>

{% endblock %}


