
{% extends 'partial/HeaderFooter.html.twig' %}

    {% block metatitle %}
        Pokemon : home page
    {% endblock %}

{% block content %}

<body>
    <h1> Pouvez vous entrer ???? </h1>

    <form method="get">
        <div>
            <label > age
                <input type= "text" name="age">
            </label>
        </div>
        <div>
            <input type="submit" value="valider">
        </div>

    </form>
</body>

{% endblock %}