
{% extends 'partial/HeaderFooter.html.twig' %}

    {% block metatitle %}
        Poker : entree
    {% endblock %}

{% block content %}

<body>
    <h1> OK tu peux y aller </h1>

</body>

{% endblock %}