{% extends 'partial/HeaderFooter.html.twig' %}


{% block metatitle %}
    Pokemon non trouvé
{% endblock %}

{% block content %}
    <h1>Le pokemon {{ pokemon.title }} a bien créé ! </h1>
{% endblock %}